<!doctype html>
{% load static%}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rafa's Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $( "#accordion" ).accordion();
            $('.toggle').click(function(){
                $('.toggle').toggleClass('active')
                $('body').toggleClass('brown')
                $('.accjudul').toggleClass('brown')
            })
        })
    </script>
</head>
<body>
<div class="toggle"></div>
<div class="content">
    <h1><br><br> HELLO! <br><br> Rafa Putri Ayasha </h1>
    <div id="accordion">
    <h3 class="accjudul">Daftar Aktivitas</h3>
    <div>
        <p>
            tugas<br>
            makan<br>
            rapat<br>
        </p>
    </div>
    <h3 class="accjudul"> Pengalaman Kepanitiaan</h3>
    <div>
        <p>
            Bendahara Wisuda genap 2019 <br>
            Staff media partner Compfest 11<br>
            Staff sponsorship educare
        </p>
    </div>
    <h3 class="accjudul">Prestasi</h3>
    <div>
        <p>
            Sedang proses doain aja hehe
        </p>
    </div>
</div></div>
</body>
</html>