body{
    background: rgb(150, 168, 186)!important ;
    text-align: center;
    font-family: "Chaparral Pro"!important;
    transition: 0.5s;
}
body.brown
{
        background: rgb(177, 162, 150) !important;
}
.toggle
{
    position: absolute;
    top: 10%;
    right: 48%;
    background: transparent;
    border: 2px solid rgb(134, 148, 155);
    width: 60px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.toggle.active
{
    background: rgb(150, 168, 186);
    border: 2px solid rgb(0, 0, 0);
}
.toggle:before
{
    content: '';
    position: absolute;
    left: 2px;
    width: 25px;
    height: 25px;
    background: rgb(202, 67, 68);
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: rgb(199, 21, 133);
}
.content
{
    margin: 10%;
}
.content h1
{
    margin: 0 0 20px;
    padding: 0;
    color: rgb(199, 21, 133);
    transition:  0.5s;
    font-weight: 800;
}
body.brown .content h1
{
    color: rgb(0, 0, 0);
}

.accjudul{
    background: rgb(175, 210, 117)!important;
}
.accjudul.brown{
    background: #Ca4344!important;
}